.main{
    margin-bottom: 1rem;
    width: 100vw;
    display: inline-block

}

.inner{
    margin: 0 auto;
    padding: 1rem;
    width: 100vw
}

.inner>a{
    text-decoration: none;
}

.title{
    text-shadow: 2px 2px rgb(191, 30, 255);
    color: #fff6cd;
    text-decoration: none;
    font-size: 3rem;
    font-family: 'Catamaran', sans-serif;

}

.title:hover{
    text-shadow: 3px 3px rgb(164, 164, 248);

}

