.intro{
    height: 90vh;
    margin: 0 auto;
    width: 70vw;
}

.big{
    font-family: 'Noto Sans', sans-serif;
}

.bigIntro{
    text-align: center;
}
.about{
    width: 80%;
    margin: 0 auto;
}

.list{
    width: 80%;
    margin: 0 auto;
}

li{
    list-style: none;
    text-align: center;
    float: left;
    padding: 1em 2em;

}