.projects{
    min-height: 100vh;
    color: rgb(147, 55, 22);
    box-shadow: 1em 2em white;
}

.images{
    width: cover;
    border: black 2px solid;
    box-shadow: 3px 2px 2px 3px rgb(83, 83, 83);
    border-radius: 4px;
}

.grid {
    width: 80%;
    margin: 0 auto 1em ;

    /* Grid Fallback */
    display: flex;
    flex-wrap: wrap;
    
    /* Supports Grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 2em;
    }

.module {
    /* Demo-Specific Styles */
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* Flex Fallback */
    margin-left: 5px;
    margin-right: 5px;
    flex: 1 1 ;
    height: 40vh;

}

  /* If Grid is supported, remove the margin we set for the fallback */
@supports (display: grid) {
    .module {
    margin: 0;
    }
}

.rain{
    height: 40vh;
    width: 100%;
}